[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ThankYouStars"]
	path = ThankYouStars
	url = https://github.com/ksmzn/thankyoustars
